<%money_unit = ( MONEY_SIGN[@booking_information['currency_code']] ? 	MONEY_SIGN[@booking_information['currency_code']] : 	MONEY_SIGN['USD'])
%>
<div class="row-fluid" style= "float:none;border:1px solid;padding: 5px">
  <table border=0  cellpadding = 0 cellspacing = 0 style= "width:100%">
    <tr>
      <td><h4><%=t('.title') %></h4></td>
    </tr>
  </table>
</div>

<br/>
<div class="row-fluid" style= "float:none;border:1px solid;padding: 5px">
  <table border=0  cellpadding = 0 cellspacing = 0 style= "width:100%;padding: 10px">
    <tr>
      <td colspan=4><%=t('.cancel_notice') %></td>
    </tr>    
    <tr>
      <td width="20%"><b><%=t('.hotel') %></b></td>
      <td colspan=3><%= @booking_information['hotel_name'] %></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.address') %></b></td>
      <td colspan=3><%= @booking_information['address'] %></td>

    </tr>
    <tr>
      <td width="20%"><b><%=t('.checkin') %></b></td>
      <td colspan=3><%= @booking_information['checkin'] %></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.checkout') %></b></td>
      <td colspan=3><%=@booking_information['checkout']%></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.guest_name') %></b></td>
      <td colspan=3><%=@booking_information['room_guest']%></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.booking_amount') %></b></td>
      <td colspan=3><%=number_to_currency @booking_information['booking_amount'], :unit => money_unit, :precision => 2 %></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.cancellation_charged') %></b></td>
      <td colspan=3><%=number_to_currency @booking_information['cancelation_charged'], :unit => money_unit, :precision => 2%></td>
    </tr>
    <tr>
      <td width="20%"><b><%=t('.refund_amount') %></b></td>
      <td colspan=3><%=number_to_currency @booking_information['refund_amount'], :unit => money_unit, :precision => 2%></td>
    </tr>
    <tr>
      <td colspan=4><h4><%=t('.cancel_policy') %><br/>-----------------------------------------------</h4>
      </td>
    </tr>
    <tr>
      <td colspan=4><%=raw @booking_information["cancellation_policy"] %></td>
    </tr> 
    <tr>
      <td colspan=4><h4><%=t('.refund_method') %><br/>-----------------------------------------------</h4>
      </td>
    </tr> 
    <tr>
      <td colspan=4><b><%=t('.refund_notice') %></b></td>
    </tr>   
    <tr>
      <td width="20%"><b><%=t('.credit_card_type') %></b></td>
      <td colspan=3><%= get_credit_card(@booking_information["card_type"]) %></td>
    </tr>   
    <tr>
      <td width="20%"><b><%=t('.first_name') %></b></td>
      <td colspan=3><%= @booking_information["card_holder_first_name"] %></td>
    </tr> 
    <tr>
      <td width="20%"><b><%=t('.last_name') %></b></td>
      <td colspan=3><%= @booking_information["card_holder_last_name"] %></td>
    </tr> 
    <tr>
      <td width="20%"><b><%=t('.card_number') %></b></td>
      <td colspan=3><%= show_card_number(@booking_information["card_number"]) %></td>
    </tr> 
    <tr>
      <td width="20%"><b><%=t('.billing_address') %></b></td>
      <td colspan=3><%= @booking_information["billing_address"] %></td>
    </tr> 
    
    
  </table>
</div>

<br/>

<div class="row-fluid">
  <table border=0  cellpadding = 0 cellspacing = 0 style= "width:100%">
    <tr>
      <td align="center" width="15%">
      	<input type='button' value='<%= t('.confirm_cancel') %>' id='confirm-cancel' href="#choose-room"> &nbsp;&nbsp;
      	<input type='button' value='<%= t('.close') %>' id='uncancel-booking'>
      </td>     
    </tr>
  </table>
</div>

<div style='display:none'>
	<div id='choose-room'>
		<p><%= t('.cancel_confirmation') %></p>		
		<br/>
		<br/>
		<div id='button-div'>
			<%= form_tag cancel_reservations_path, method: :post do %>
				<%= hidden_field_tag('reservation_id',params[:reservation_id]) %>
				<%= hidden_field_tag('res_room',params[:res_room]) %>
				<%= hidden_field_tag('email',@booking_information['user_email']) %>
				<%= hidden_field_tag('itinerary_number',@booking_information['itinerary_number']) %>
				<%= hidden_field_tag('confirmation_number',@booking_information['confirmation_number']) %>
				<%= hidden_field_tag('refund',@booking_information['refund_amount']) %>
				<input type="button" id="confirm-cancel-ok" value='<%= t('.lblyes')%>'>
				<input type="button" id="btn-close"  value='<%= t('.lblno')%>'>
			<%end%>			
		</div>	
	</div>	
</div>

<%= javascript_include_tag "reservations" %>
<%= stylesheet_link_tag "reservations"%>